.container {
    background-color: #f2f2f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sectionListWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    margin-bottom: 8px;
}
