.check {
  display: flex;
  align-items: center;
  margin-top: 10px;

  & span {
    width: 24px !important;
    height: 24px !important;
    margin-right: 8px !important;
  }

  &__default p {
    font-weight: 400;
  }
}

.default {
  color: #c9c9c9;
}

.success {
  color: #24dd7d;
}

.error {
  color: #fd5839;
}
