.textfield {
  width: 100%;

  &__label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
    position: relative;

    &__required::after {
      content: "*";
      position: absolute;
      top: 0;
      color: #fd5839;
    }
  }

  &__input {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 12px;
    border: 1px solid #c9c9c9;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  & input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
  }

  & input[type="number"]::-webkit-outer-spin-button,
  & input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  & input[type="date"]::-webkit-calendar-picker-indicator {
    color: #000;
    opacity: 1;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    //background: url('../../../assets/img/input-date-calendar.svg') no-repeat !important;
    background-size: 100%;
  }
}
