$col-1: span 1/span 1;
$col-2: span 2/span 2;
$col-3: span 3/span 3;
$col-4: span 4/span 4;
$col-5: span 5/span 5;
$col-6: span 6/span 6;
$col-7: span 7/span 7;
$col-8: span 8/span 8;
$col-9: span 9/span 9;
$col-10: span 10/span 10;
$col-11: span 11/span 11;
$col-12: span 12/span 12;


@media (min-width:175px) { 
    .col-xs-1 { grid-column: $col-1; }
    .col-xs-2 { grid-column: $col-2; }
    .col-xs-3 { grid-column: $col-3; }
    .col-xs-4 { grid-column: $col-4; }
    .col-xs-5 { grid-column: $col-5; }
    .col-xs-6 { grid-column: $col-6; }
    .col-xs-7 { grid-column: $col-7; }
    .col-xs-8 { grid-column: $col-8; }
    .col-xs-9 { grid-column: $col-9; }
    .col-xs-10 { grid-column: $col-10; }
    .col-xs-11 { grid-column: $col-11; }
    .col-xs-12 { grid-column: $col-12; }
}

@media (min-width:576px) { 
    .col-sm-1 { grid-column: $col-1; }
    .col-sm-2 { grid-column: $col-2; }
    .col-sm-3 { grid-column: $col-3; }
    .col-sm-4 { grid-column: $col-4; }
    .col-sm-5 { grid-column: $col-5; }
    .col-sm-6 { grid-column: $col-6; }
    .col-sm-7 { grid-column: $col-7; }
    .col-sm-8 { grid-column: $col-8; }
    .col-sm-9 { grid-column: $col-9; }
    .col-sm-10 { grid-column: $col-10; }
    .col-sm-11 { grid-column: $col-11; }
    .col-sm-12 { grid-column: $col-12; }
}

@media (min-width:768px) {
    .col-md-1 { grid-column: $col-1; }
    .col-md-2 { grid-column: $col-2; }
    .col-md-3 { grid-column: $col-3; }
    .col-md-4 { grid-column: $col-4; }
    .col-md-5 { grid-column: $col-5; }
    .col-md-6 { grid-column: $col-6; }
    .col-md-7 { grid-column: $col-7; }
    .col-md-8 { grid-column: $col-8; }
    .col-md-9 { grid-column: $col-9; }
    .col-md-10 { grid-column: $col-10; }
    .col-md-11 { grid-column: $col-11; }
    .col-md-12 { grid-column: $col-12; }
}

@media (min-width:992px) {
    .col-lg-1 { grid-column: $col-1; }
    .col-lg-2 { grid-column: $col-2; }
    .col-lg-3 { grid-column: $col-3; }
    .col-lg-4 { grid-column: $col-4; }
    .col-lg-5 { grid-column: $col-5; }
    .col-lg-6 { grid-column: $col-6; }
    .col-lg-7 { grid-column: $col-7; }
    .col-lg-8 { grid-column: $col-8; }
    .col-lg-9 { grid-column: $col-9; }
    .col-lg-10 { grid-column: $col-10; }
    .col-lg-11 { grid-column: $col-11; }
    .col-lg-12 { grid-column: $col-12; }
}

@media (min-width:1200px) {
    .col-xl-1 { grid-column: $col-1; }
    .col-xl-2 { grid-column: $col-2; }
    .col-xl-3 { grid-column: $col-3; }
    .col-xl-4 { grid-column: $col-4; }
    .col-xl-5 { grid-column: $col-5; }
    .col-xl-6 { grid-column: $col-6; }
    .col-xl-7 { grid-column: $col-7; }
    .col-xl-8 { grid-column: $col-8; }
    .col-xl-9 { grid-column: $col-9; }
    .col-xl-10 { grid-column: $col-10; }
    .col-xl-11 { grid-column: $col-11; }
    .col-xl-12 { grid-column: $col-12; }
}

@media (min-width:1400px) {
    .col-2xl-1 { grid-column: $col-1; }
    .col-2xl-2 { grid-column: $col-2; }
    .col-2xl-3 { grid-column: $col-3; }
    .col-2xl-4 { grid-column: $col-4; }
    .col-2xl-5 { grid-column: $col-5; }
    .col-2xl-6 { grid-column: $col-6; }
    .col-2xl-7 { grid-column: $col-7; }
    .col-2xl-8 { grid-column: $col-8; }
    .col-2xl-9 { grid-column: $col-9; }
    .col-2xl-10 { grid-column: $col-10; }
    .col-2xl-11 { grid-column: $col-11; }
    .col-2xl-12 { grid-column: $col-12; }
}