.tape {
    height: 100%;
    scroll-snap-align: start;
    position: relative;

    &__video {
        height: 100%;
        background-color: #000;
        cursor: pointer;
    }


    &__right_section {
        position: absolute;
        bottom: 0;
        width: calc(100% - 70px);
        margin: 10px;
    }


    &__actions {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    &__element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3px;
        margin-bottom: 15px;
        cursor: pointer;


        span {
            color: #fff;
        }
    }
    
    &__addition_element {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        cursor: pointer;
    }

    &__visible_element {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(10px);
        background-color: #ffffff30;
        border-radius: 100px;
        margin-bottom: 18px;
        cursor: pointer;
    }

    &__muted_element {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(10px);
        background-color: #ffffff30;
        border-radius: 100px;
        cursor: pointer;
    }
}



.user_ad {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 10px;

        &__image {
            width: 44px;
            border-radius: 100px;
        }

        &__name {
            display: block;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
        }

        &__button {
            padding: 4px 7px;
            background: linear-gradient(90deg, #2AC6FA 0%, #0C8AFF 100%);
            border-radius: 4px;
            color: #fff;
            border: none;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }


        &__description {
            color: #fff;
            margin-bottom: 10px;
            font-size: 16px;

            &::after {
                content: '...'
            }
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-bottom: 10px;
        }

        &__tag_item {
            display: block;
            color: #fff;
            font-size: 16px;
        }

        &__ad_link {
            display: flex;
            gap: 10px;
            align-items: center;
            background-color: #ffffff;
            padding: 6px 10px;
            border-radius: 8px;
            cursor: pointer;
        }

        &__ad_image {
            width: 19px;
            border-radius: 100px;
        }

        &__ad_name {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
        }
}