.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    color: #2ac6fa;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    span {
        margin: 0 5px;
    }
}

.breadcumpsSeparator {
    margin: 0 6px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 4px;
    margin-bottom: 12px;
    .price {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #555555;
    }

    .name {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    .units {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #909090;
    }

    .views {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #909090;
    }
}

.termsOfDelivery {
    display: flex;
    gap: 8px;
    flex-direction: column;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    .title {
        display: flex;
        gap: 5px;
    }
    span {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
    }
}

.backgroundImg {
    position: relative;
    margin-bottom: 12px;
    width: 100%;
    .image {
        width: 100%;
        max-height: 264px;
        border-radius: 8px;
    }
    .like {
        position: absolute;
        top: 8px;
        right: 10px;
    }
}

.header {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
    img {
        width: 24px;
        height: 24px;
    }
    &__right {
        display: flex;
        gap: 20px;
    }
}
