@import "../../../assets/styles/variables";

.header {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 45px;
  margin-top: 45px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  &:hover svg path {
    transition: 0.4s ease-in;
    fill: $main-blue;
  }

  &:hover .favourites__text {
    transition: 0.4s ease-in;
    color: $main-blue;
  }
}

.favourites {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 16px 0px 20px;

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: $main-black;
  }
}

.button__wrapper {
  height: inherit;
}
