.container {
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;
    gap: 8px 0;
}

.content {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: calc(100% - 168px);
    gap: 14px;
    &__flex {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    span {
        max-width: 270px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #333232;
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        gap: 13px;
    }
}
