.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.save {
  background: linear-gradient(90deg, #2ac6fa 0%, #0c8aff 100%);
  border-radius: 8px;
  padding: 10px 48px;
  font-weight: 500;
  color: #fff;
  margin-top: 25px;
}

.cancel {
  background: none;
  border-radius: 8px;
  padding: 10px 60px;
  font-weight: 500;
  color: #c9c9c9;
  border: 1px solid #c9c9c9;
  margin-top: 25px;
}
