.container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    border: 1px solid;
    img {
        height: 100%;
        width: 100%;
    }
    span {
        height: 500px;
        scroll-snap-align: start;
        border: 1px solid;
    }
}
