.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;
    gap: 8px 0;
}

.search {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 16px 10px;
    form {
        width: 100%;
        input {
            width: 100%;
            padding: 6px 10px;
            background: #f4f4f4;
            border-radius: 8px;
        }
    }
}

.content {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 16px;
    padding: 16px;
    height: calc(100% - 313px);
    background: linear-gradient(90deg, #2ac6fa 0%, #0c8aff 100%);
    &__position {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 13px;
    }
    &__section {
        position: fixed;
        bottom: 80px;
        left: 0;
        width: 100%;
        background: white;
        height: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        &__item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            align-self: center;
            align-items: center;
            img {
                width: 34px;
                height: 34px;
            }
            span {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.containerId {
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;
    gap: 8px 0;
}

.contentId {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    height: calc(100% - 161px);
    overflow-y: scroll;
    &__position {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 13px;
    }
}

.headerId {
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    &__contentId {
        display: flex;
        gap: 0 24px;
        padding: 24px 16px 16px 16px;
    }
    span {
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
    }
}

.search {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 16px 10px;
    form {
        width: 100%;
        label {
            position: relative;
            input {
                width: 100%;
                padding: 6px 10px;
                background: #f4f4f4;
                border-radius: 8px;
            }
            img {
                position: absolute;
                width: 24px;
                height: 24px;
                bottom: -3px;
                right: 10px;
            }
        }
    }
    .position {
        display: flex;
        justify-content: center;
        background: #f4f4f4;
        border: 1px solid #f4f4f4;
        border-radius: 8px;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
        align-self: center;
        img {
            width: 20px;
            height: 20px;
        }
    }
}
