.button_header_myads {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 9px;
    font-size: 16px;
    border-radius: 8px;
    transition: .1s;
    color: #2AC6FA;
    border: 1px solid #2AC6FA;
}