.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;
    gap: 8px 0;
}

.content {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    height: calc(100% - 222px);
    overflow-y: scroll;
}

// .hat {
//     width: 100%;
//     height: 50px;
//     background: #f4f4f4;
// }

.hat {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    background: #f4f4f4;
    border-radius: 15px;

    span {
        font-size: 19px;
        color: #333232;
    }
    &__buy {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: 1px;
    }
    &__sale {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: 1px;
    }

    .activeBuy {
        background: linear-gradient(90deg, #2ac6fa 0%, #0c8aff 100%);
        border-radius: 15px 15px 0px 15px;
        span {
            color: white;
        }
    }
    .activeSale {
        background: linear-gradient(90deg, #2ac6fa 0%, #0c8aff 100%);
        border-radius: 15px 15px 15px 0px;
        span {
            color: white;
        }
    }
}

.list {
    display: flex;
    overflow-x: auto;
    // overflow-x: scroll;
    min-height: 34px;
    &__status {
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-align: center;
        display: flex;
        width: 100%;
        padding: 8px 20px;
        color: #c9c9c9;
        font-size: 14px;
        border-bottom: 1px solid #c9c9c9;
    }
    .activeStatus {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #333232;
        border-bottom: 1px solid #333232;
    }
}

.list::-webkit-scrollbar {
    display: none;
}

.ads {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 13px;
    justify-content: space-between;
    &__button {
        position: fixed;
        bottom: 80px;
        left: 0;
        width: 100%;
        background: white;
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            display: flex;
            max-height: 44px;
            justify-content: center;
            align-items: center;
            padding: 12px 32px;
            gap: 8px;
            width: calc(100vw - 32px);
            background: linear-gradient(90deg, #2ac6fa 0%, #0c8aff 100%);
            border-radius: 8px;
            color: white;
        }
    }
    &__blank {
        width: 100%;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 16px;
        height: calc(100% - 168px);
        justify-content: center;
        align-items: center;
        text-align: center;
        span {
            max-width: 200px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #333232;
        }
    }
}
